
<script>
  $(function(){
    currentUser = new User({id: '<%= current_user.id %>'});
    currentUser.fetch().complete(function(){
      profileView = new ProfileView({model: currentUser});
    });
  });
</script>


<script id="view_own_profile" type="text/template">
  <button class="change_profile">Edit</button>
  <div>Username: <%%= username %></div>
  <div>Diet: <%%= diet %></div>
    <div>Height: <%%= height %></div>
  <div>Body Type: <%%= body_type %></div>
    <div>Self Summary: <%%= self_summary %></div>
</script>

<script id="edit_own_profile" type="text/template">

  <div>Username: <%%= username %></div>
    <form>
      <div><button class="update_profile">Done editing</button></div>
      <div>Diet:
      <select id="diet" name="diet" type="select" value="<%%= diet %>">
        <option value="vegan">Vegan</option>
        <option value="meat_eater">Meat Meat Meat</option>
        <option value="anything">Anything Goes</option>
        <option value="just _water">I prefer only H20</option>
        <input type="submit" value="Submit">
      </select></div>
      <div>Height: <input id="height" name="height" type="text" value="<%%= height %>" /></div>
      <button class="update_profile">Save</button>
      <div>Body Type: <input id="body_type" name="body_type" type="text" value="<%%= body_type %>" /></div>
      <button class="update_profile">Save</button>
      <div>Self Summary: <input id="self_summary" name="self_summary" type="text" value="<%%= self_summary %>" /></div>
      <button class="update_profile">Save</button>
      <div><button class="update_profile">Done editing</button></div>
    </form>


</script>


<script id="view_another_profile" type="text/template">
  <div>Username: <%%= username %></div>
  <div>Email: <%%= email %></div>
  <div>Diet: <%%= diet %></div>
</script>


<script id="edit_own_account" type="text/template">
    <button class="change_profile">Edit</button>
    <form id="edit-profile">
      <div>Username: <input id="username" name="username" type="text" value="<%%= username %>" /></div>
      <div>Email: <input id="email" name="email" type="text" value="<%%= email %>" /></div>
      <div>Diet: <input id="diet" name="diet" type="text" value="<%%= diet %>" /></div>
      <button class="update_profile">Save</button>
    </form>
</script>
