'<ul class="inbox_entry">\
  <li class="messages_mini_photo"><%%= other_user_image %></li>\
  <li class="messages_user_name"><%%= other_user_name %></li>\
  <li class="messages_body_sample"><%%= body_sample %></li>\
  <li class="messages_time"><%%= time_stamp %></li>\
</ul>'
