'<ul class="inbox_entry"> \
  <li class="messages_mini_photo"><%= profile_image_url %></li>\
  <li class="messages_user_name"><%= username %></li>\
  <li class="messages_body_sample"><%= body %></li>\
  <li class="messages_time"><%= created_at %></li>\
</ul>'
