'<ul class="mini_profile"> \
  <li class="mini_profile_photo"><%= profile_image_url %></li>\
  <li class="mini_profile_user_name">User Name: <%= username %></li>\
  <li class="mini_profile_borough">Borough: <%= borough %></li>\
  <li class="mini_profile_age">Age: <%= age %></li>\
  <li class="mini_profile_looking_for">Looking for: <%= looking_for %></li>\
  <li class="member_since">Prowl member since: <%= created_at.getutc.strftime("%b %-d, %Y") %></li>\
</ul>'


